/* Reset Styles */
html, body, #skipNav, p, .skipnavigation, .topnav, h3, #floatright, .icon, a, .columns, .price, li, .grey, .button, #hero, video, .cardsection  {
    margin: 0;
    padding: 0;
}

/* Back to top - skip navigation */
#skipNav {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: green;
}
#skipNav:hover {
    background-color: gray;
}

/* Skip Navigation */
p.skipnavigation {
    float: right;
}
p.skipnavigation a {
    position: absolute;
    left: -10000px;
    color: white;
    text-decoration: none;
}
p.skipnavigation a:focus {
    top: 0.4em;
    left: auto;
    right: 0.4em;
    z-index: 2;
    float: left;
}

/* Navigation bar */
.topnav h3 {
    float: left;
    padding: 0.6%;
    font-family: 'Comic Neue', cursive;
}
#topnav_exempt {
    padding: 0;
    font-size: 20px;
}
#topnav_exempt:hover {
    background-color: transparent;
}
.topnav {
    overflow: hidden;
    background-color: black;
    z-index: 50;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    
}
#floatright {
    float: right;
    font-family: 'Raleway', sans-serif;
}
.topnav a:hover {
    background-color: grey;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topnav .icon {
    display: none;
}

/* Sticky Header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.sticky #floatright {
    float: right;
}
.sticky + .content {
    padding-top: 102px;
}
.header hr {
    margin: 0;
}
.sticky #floatright a.icon {
    position: absolute;
    top: 0;
    right: 0;
}

/* Alert Boxes */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-family: 'Playfair Display', serif;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

/* Sales Header Section */
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero::after {
    width: 100%;
    height: 100%;
    /*content: '';*/
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.5)
}
#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    /*z-index: 5;*/
    object-fit: cover;
}
#hero .caption {
    position: relative;
    /*z-index: 20;*/
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
}

/* About */
#about_text {
    text-align: center;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    background-color: black;
    color: white;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('files/Stock_Img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#about_text h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Architects Daughter', cursive;
}
#about_text h4 {
    font-family: 'Indie Flower', cursive;
}
#about_text p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
}
#about_text hr {
    width: 25%;
}

/* Experience */
#experience_text {
    text-align: center;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('files/Stock_Img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#experience_text h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
}
#experience_text p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 12px;
    font-weight: bold;
}

/* Site references cards */
#card_center {
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    display: inline-block;
    margin: 1%;
    background-color: white;
}
.card_text {
    padding: 2px 16px;
    text-align: center;
}
.card_text h4 {
    font-family: 'Philosopher', sans-serif;
}
.card_text p {
    font-family: 'Josefin Slab', serif;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#card_center button {
    text-align: center;
    padding: 2%;
    font-size: 16px;
    background-color: lightblue;
    border: 0;
    border-radius: 10px;
    margin-top: 5px;
    font-family: 'Viga', sans-serif;
}
#card_center button:hover {
    background-color: dodgerblue;
}

/* Sales Inquires */
#sales_text {
    text-align: center;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
    background-color: black;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('files/Stock_Img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#sales_text hr {
    width: 50%;
}
#sales_text h2 {
    font-family: 'Handlee', cursive;
}
#sales_text h3 {
    padding: 1%;  
    font-family: 'Neucha', cursive;
}
#sales_text p {
    font-family: 'Gochi Hand', cursive;
    font-size: 17px;
}

/* Pricing Tables */
.columns {
    display: inline-block;
    width: 33.3%;
    padding: 8px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}
.price .grey {
    background-color: black;
    font-size: 20px;
}

/* Support */
#support_text {
    text-align: center;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('files/Stock_Img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#support_text h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fredericka the Great', cursive;
}
#support_text p {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
}
#support_text h4 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Schoolbell', cursive;
}
#notice {
    color: lightcoral;
}
#support_text h5 {
    font-family: 'Playfair Display', serif;
}

/* Footer */
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer p {
    text-align: center;
    padding: 0.5%;
    font-family: 'Schoolbell', cursive;
}
#footer_exempt p {
    font-family: Arial, Helvetica, sans-serif;
}
#footer_exempt p a {
    color: black;
    text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 1250px) {
    .topnav h3 {
        padding: 1.0%;
    }
}
@media screen and (max-width: 795px) {
    .topnav a:not(:last-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 10px;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        position: relative;
        right: 50%;
        display: block;
        text-align: left;
    }
    .card img {
        display: none;
    }
    .card {
        width: 75%;
    }
    .alert {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 560px) {
    #skipNav {
        display: none;
    }
}